# Dependencies
node_modules/
.pnpm-store/

# Env
.env
.env.local
.env.*.local

# Next.js
.next/
out/

# Turborepo
.turbo/

# Build
dist/
build/

# Prisma
prisma/migrations/dev.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store

# IDE
.vscode/
.idea/